body {
    display: flex;
    flex: 1;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #1F2937;
}

.header ul {
    display: flex;
    margin: 0;
    padding: 0;
    gap: 16px;
    list-style-type: none;
}

.header h1 {
    font-size: 24px;
    color: #F9FAF8;
}

.sub-header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 64px;
    background-color: #1F2937;
}

.sub-header h1 {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.sub-header p {
    font-size: 18px;
    color: #E5E7EB;
}

.sub-header button {
    background-color: #3882F6;
    color: #E5E7EB;
    margin-bottom: 32px;
    border: 0px solid white;
    border-radius: 8px;
    width: 100px;
    height: 32px;

}

.sub-header .content {
    width: 400px;
}

.photo img {
    width: 300px;
    height: auto;
    border: 2px solid #E5E7EB;
    border-radius: 2px;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cards {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
}

.card {
    width: 120px;
    text-align: center;
}

.card div {
    height: 120px;
    width: 120px;
    border-width: 4px;
    border: 2px solid #3882F6;
    border-radius: 10px;
    background-color: white;
}

.quote {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.quote p {
    width: 800px;
    font-size: 36px;
    color: #1F2937;
}

.sign-up {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sign-up .container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #3882F6;
    border-radius: 8px;
    height: 100px;
    margin: 32px;
    padding: 0px 64px;
    gap: 64px;
}

.container h4 {
    font-size: 24px;
    margin: 0;
    color: #F9FAF8;
}

.container p {
    font-size: 18px;
    margin: 0;
    color: #E5E7EB;
}

.sign-up button {
    background-color: #3882F6;
    color: #E5E7EB;
    border: 2px solid #E5E7EB;
    border-radius: 4px;
    padding: 4px 16px;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    font-size: 18px;
    background-color: #1F2937;
    color: #E5E7EB;
}

li a {
    font-size: 18px;
    color: #E5E7EB;
}

a {
    text-decoration: none;
}